{% extends "normal_layout.html" %}
{% block content %}
<style>

  select.form-control{
    -webkit-appearance: menulist!important;
    -moz-appearance: menulist!important;
    -ms-appearance: menulist!important;
    -o-appearance: menulist!important;
    appearance: menulist!important;
  }
</style>
 
  <div class="content-section" style="margin: 0 auto">
    <h2 style="color:deepskyblue"><strong>Dispatch Matching</strong></h2>
    <br>


    <form method='POST'> 
      {{form.csrf_token}} 
      
      <!--
      <div class="form-group">
        <h5>What is your purpose?</h5>
       {{ form.type(class="form-control form-control-lg") }}
      </div>
      -->
      
      <div>
        <h5>Market clearing in:</h5>
        <div class="row justify-content-center bg-info text-white rounded-pill" id="countdown">
        </div>
      </div>
      <br>

      <h5> <u> Select your role: </u></h5>
      <br>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="select_role" value="waste_seller" data-toggle='collapse' data-target='#seller' aria-expanded="false">
        <label class="form-check-label">Waste seller</label>

      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="select_role" value="tech_provider" data-toggle='collapse' data-target='#tech' aria-expanded="false">
        <label class="form-check-label">Treatment provider</label>

      </div>

      <br>

      <div class="collapse" id="seller">

        <h5>{{form.wasteSelect.label}}</h5>
        {{ form.wasteSelect(class="form-control form-control-lg") }}
        <small id="wasteName" class="form-text text-muted">
          If not in the list, please <a class="ml-2" style="margin: 0 auto" href="{{ url_for('matching') }}">register your waste</a> with us first
        </small>
        <br>

      </div>


      <div class="collapse" id="tech">

        <h5>{{form.techSelect.label}}</h5>
        {{ form.techSelect(class="form-control form-control-lg") }}
        <small id="wasteName" class="form-text text-muted">
          If not in the list, please <a class="ml-2" style="margin: 0 auto" href="{{ url_for('matching') }}">register your technology</a> with us first
        </small>
        <br>

      </div>

      <br>

      <div class="form-group">
        {{ form.submit(class="btn btn-success btn-lg") }}
      </div>
    </form>
  </div> 
    <br>
  
  <div class="content-section" style="margin: 0 auto">
    <h5>View past matching results</h5>
    <br>
    <div class="form-group">
      <a class="btn btn-outline-primary" href="{{ url_for('dispatch_matching_results') }}" role="button">View Results</a>
    </div>
  </div>




  <script>
  // Set the date we're counting down to
  // var countDownDate = new Date("Aug 23, 2022 17:35:25");

  var countDownDate = new Date("{{end_date}}")
  var now = new Date().getTime();
  var distance = countDownDate.getTime() - now;

  if (distance < 0) {
    countDownDate.setDate(countDownDate.getDate() + 2);
    }


  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get today's date and time
    var now = new Date().getTime();
      
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
      
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
    // Output the result in an element with id="demo"
    document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
      
    // If the count down is over, write some text 
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = "EXPIRED";
    }
  }, 1000);

  

  

  </script>


{% endblock content %}



