{% extends "newlayout.html" %}
{% block addon %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

<style>
#wrapper {
    border: 1px solid rgb(255, 255, 255);
}
#first {
    display: inline-block;
    width:400px;
    max-width:400px;
}
#second {
    vertical-align:top;
    display: inline-block;
    width:400px;
    max-width:400px;
}
</style>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Three charts -->
    <!-- ============================================================== -->

    <!-- 
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total Visit</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
            <li>
                <div id="sparklinedash">
                <canvas
                    width="67"
                    height="30"
                    style="
                    display: inline-block;
                    width: 67px;
                    height: 30px;
                    vertical-align: top;
                    "
                ></canvas>
                </div>
            </li>
            <li class="ms-auto">
                <span class="counter text-success">659</span>
            </li>
            </ul>
        </div>
        </div>
        <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total Page Views</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
            <li>
                <div id="sparklinedash2">
                <canvas
                    width="67"
                    height="30"
                    style="
                    display: inline-block;
                    width: 67px;
                    height: 30px;
                    vertical-align: top;
                    "
                ></canvas>
                </div>
            </li>
            <li class="ms-auto">
                <span class="counter text-purple">869</span>
            </li>
            </ul>
        </div>
        </div>
        <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Unique Visitor</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
            <li>
                <div id="sparklinedash3">
                <canvas
                    width="67"
                    height="30"
                    style="
                    display: inline-block;
                    width: 67px;
                    height: 30px;
                    vertical-align: top;
                    "
                ></canvas>
                </div>
            </li>
            <li class="ms-auto">
                <span class="counter text-info">911</span>
            </li>
            </ul>
        </div>
        </div>
    </div>
    -->

    <!-- ============================================================== -->
    <!-- TOTAL SALES -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class = 'box-title'>Total wastes/resources sold </h3>

            <center>
                <div id = "wrapper">

                        <div id = "first">
                            <br>
                            <h5> By Type: </h5>
                            <canvas id="item_sold_bytype" width = 300 height = 300></canvas>
                        </div>
                        <div id = "second">
                            <br>
                            <h5> By Month: </h5>
                            <canvas id="item_sold_bytime" width = 300 height = 300></canvas>
                        </div>
                </div>
            </center>
           
            
        </div>
        </div>
    </div>


    <!-- ============================================================== -->
    <!-- TOTAL PURCHASE -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
        <h3 class = 'box-title'>Total wastes/resources purchased </h3>

            <center>
                <div id = "wrapper">
                        <div id = "first">
                            <br>
                            <h5>By Type: </h5>
                            <canvas id="item_purchased_bytype" width = 300 height = 300></canvas>            
                        </div>
                        <div id = "second">
                            <br>
                            <h5>By Month: </h5>
                            <canvas id="item_purchased_bytime" width = 300 height = 300></canvas>
                        </div>
                </div>
            </center>
           
            
        </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- MARKET PRICE -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
        <h3 class = 'box-title'>Trading Price </h3>

            <center>
                <div id = "wrapper">
                    <div id = "first">
                        <br>
                        <canvas id="market_price" width = 300 height = 300></canvas>            
                    </div>
                </div>
            </center>
           
            
        </div>
        </div>
    </div>


    




</div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->


<script>

// Doughnut chart
var doughnut_sold= document.getElementById("item_sold_bytype").getContext("2d");
var doughnut_purchased= document.getElementById("item_purchased_bytype").getContext("2d");

/*
var labels = [
    'Food Waste',
    'Animal Manure',
    'Wood Waste',
    'Plastic Waste'
    ];

var data = {
    labels: labels,
    datasets: [{
    label: 'My First Dataset',
    data: [300, 50, 100, 50],
    backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(70, 100, 86)',

    ],
    hoverOffset: 4
    }]
    };

    var opts = {
        responsive: false,
        maintainAspectRatio:false,
    }
*/

var labels ={{label_test | tojson}} 
var data = {
    labels: labels,
    datasets: [{
    label: 'My First Dataset',
    data: {{y_test | tojson}},
    backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',

    ],
    hoverOffset: 4
    }]
    };

    var opts = {
        responsive: false,
        maintainAspectRatio:false,
    }

var doughnutChart = new Chart(doughnut_sold,{
    type: 'doughnut',
    data: data,
    options: opts

});

var doughnutChart2 = new Chart(doughnut_purchased,{
    type: 'doughnut',
    data: data,
    options: opts

});
            

// BAR chart
var bar_sold= document.getElementById("item_sold_bytime").getContext("2d");
var bar_purchased= document.getElementById("item_purchased_bytime").getContext("2d");

const colours = ['rgba(255, 99, 132, 0.5)', 'rgba(255, 206, 86, 0.5)','rgba(150, 150, 86, 0.5)','rgba(180, 180, 20, 0.5)']
const bordercolour = 'rgba(0, 0, 0, 0.5)'
const borderwidth = 1

function setData(legends, y_values) {
    var dataset = []

    for (let i = 0; i < legends.length; i++) {
        var dict = {}
    
        dict['label'] = legends[i]
        dict['data'] = y_values[i]
        dict['backgroundColor'] = colours[i]
        dict['borderColor'] = bordercolour
        dict['borderWidth'] = borderwidth   
        
        dataset.push(dict)
    }    

  return dataset;   
}

const test_x = ['MAR','APR','MAY','JUNE','JULY','AUG']
const test_legends = ['Food Waste', 'Animal Manure','Wood Waste','Plastic Waste']
const test_y = [
                    [12, 19, 3, 5, 2, 3],
                    [1, 2, 3, 4, 5, 6],
                    [23, 21, 34, 28, 35, 46],
                    [31, 72, 23, 44, 35, 26],
                ]


const datatest = setData(test_legends, test_y)

console.log(datatest)

var data = {
    labels: test_x,
    datasets: datatest
    

};

var opts = {
    responsive: false,
    maintainAspectRatio:false,
    legend: {
            display: false,
            position: 'top'
    },

    scales: {
            x: {
                    stacked: true
                },

            y: {
                beginAtZero: true,
                stacked: true
            }
            
        }
}

var barChart = new Chart(bar_sold,{
    type: 'bar',
    data: data,
    options: opts

});

var barChart2 = new Chart(bar_purchased,{
    type: 'bar',
    data: data,
    options: opts

});


// First line chart
var market_price = document.getElementById("market_price").getContext("2d");

function setData_line(legends, y_values) {
    var dataset = []

    for (let i = 0; i < legends.length; i++) {
        var dict = {}
    
        dict['label'] = legends[i]
        dict['data'] = y_values[i]
        dict['fill'] = false
        dict['borderColor'] = colours[i]
        dict['tension'] = 0.1   
        
        dataset.push(dict)
    }    

  return dataset;   
}

const datatest2 = setData_line(test_legends, test_y)

var labels = [1,2,3,4,5,6,7];

var data = {
    labels: test_x,
    datasets: datatest2 
};

var opts = {
    responsive: false,
    maintainAspectRatio:false,
    legend: {
    display: false,
    position: 'top'
    }
}

var lineChart = new Chart(market_price,{
    type: 'line',
    data: data,
    options: opts

});

</script>
{% endblock addon %}