{% extends "newlayout.html" %}
{% block addon %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

<style>
#wrapper {
    border: 1px solid rgb(255, 255, 255);
}
#first {
    display: inline-block;
    width:400px;
    max-width:400px;
}
#second {
    vertical-align:top;
    display: inline-block;
    width:400px;
    max-width:400px;
}

.form-control-s {
display: block;
width: 50%;
}

</style>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Three charts -->
    <!-- ============================================================== -->

    
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total Transactions Made</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
            <li>
                <div id="sparklinedash">
                <canvas
                    width="67"
                    height="30"
                    style="
                    display: inline-block;
                    width: 67px;
                    height: 30px;
                    vertical-align: top;
                    "
                ></canvas>
                </div>
            </li>
            <li class="ms-auto">
                <span id = 'transaction_all' class="counter text-success"> </span>
            </li>
            </ul>
        </div>
        </div>
        <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total Sales</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
            <li>
                <div id="sparklinedash2">
                <canvas
                    width="67"
                    height="30"
                    style="
                    display: inline-block;
                    width: 67px;
                    height: 30px;
                    vertical-align: top;
                    "
                ></canvas>
                </div>
            </li>
            <li class="ms-auto">
                <span id = 'transaction_sold' class="counter text-purple"> </span>
            </li>
            </ul>
        </div>
        </div>
        <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title"> Total Purchases</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
            <li>
                <div id="sparklinedash3">
                <canvas
                    width="67"
                    height="30"
                    style="
                    display: inline-block;
                    width: 67px;
                    height: 30px;
                    vertical-align: top;
                    "
                ></canvas>
                </div>
            </li>
            <li class="ms-auto">
                <span id = 'transaction_purchased' class="counter text-info"> </span>
            </li>
            </ul>
        </div>
        </div>
    </div>

    <div>
        <h4 class = 'box-title'>View data by:</h4>
    </div>
    <div id="data_type" class="btn-group">

        <button id = "button"  type="button" value="volume" class="btn btn-outline-primary">Transaction volume</button>
        <button id = "button"  type="button" value="count" class="btn btn-outline-primary">Transaction count</button>

    </div>
    <br>
    <br>
    <!-- ============================================================== -->
    <!-- TOTAL SALES -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class = 'box-title'>Total wastes/resources sold </h3>  

            <center>
                <div id = "wrapper">

                        <div id = "first">
                            <br>
                            <h5> By Type: </h5>
                            <canvas id="item_sold_bytype" width = 300 height = 300></canvas>
                        </div>
                        <div id = "second">
                            <br>
                            <h5> By Month: </h5>
                            <div id="timeframe_sold" class="btn-group">

                                <button id = "button_tf_sold" type="button" value='3' class="btn btn-outline-primary btn-sm float-right">3M</button>
                                <button id = "button_tf_sold" type="button" value='6' class="btn btn-outline-primary btn-sm float-right">6M</button>
                                <button id = "button_tf_sold" type="button" value='12' class="btn btn-outline-primary btn-sm float-right">1Y</button>

                            </div>

                            <canvas id="item_sold_bytime" width = 300 height = 300></canvas>
                        </div>
                </div>
            </center>
           
            
        </div>
        </div>
    </div>


    <!-- ============================================================== -->
    <!-- TOTAL PURCHASE -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
        <h3 class = 'box-title'>Total wastes/resources purchased </h3>

            <center>
                <div id = "wrapper">
                        <div id = "first">
                            <br>
                            <h5>By Type: </h5>
                            <canvas id="item_purchased_bytype" width = 300 height = 300></canvas>            
                        </div>
                        <div id = "second">
                            <br>
                            <h5>By Month: </h5>
                            <div id="timeframe_purchased" class="btn-group">

                                <button id = "button_tf_purchased" type="button" value='3' class="btn btn-outline-primary btn-sm float-right">3M</button>
                                <button id = "button_tf_purchased" type="button" value='6' class="btn btn-outline-primary btn-sm float-right">6M</button>
                                <button id = "button_tf_purchased" type="button" value='12' class="btn btn-outline-primary btn-sm float-right">1Y</button>

                            </div>
                            <canvas id="item_purchased_bytime" width = 300 height = 300></canvas>
                        </div>
                </div>
            </center>
           
            
        </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- MARKET PRICE -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class = 'box-title'>Trading Price </h3>


            <center>
                <div id = "wrapper">
                    <div id = "first">
                        <div>
                            <h5> View the trading price for: </h5>
                            <select id = "dropdown" onchange="dropdownChanged()" class="form-select form-control-s" aria-label="Default select example">
                                {% for waste in data['trading'].keys() %}
                                <option value="{{waste}}">{{waste}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <canvas id="market_price" width = 300 height = 300></canvas>            
                    </div>
                </div>
            </center>
           
            
        </div>
        </div>
    </div> 




</div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->


<script>


// Data import from flask
const imported_data = {{data | tojson}} ;

var default_y_type = 'volume';
var default_timeframe = 3;  // months
var default_waste_type = "Food Waste"


// View Data by VOLUME/COUNT
$(document).ready(function() {
  
  // Get click event, assign button to var, and get values from that var
  $('#data_type button').on('click', function() {
    var thisBtn = $(this);
    
    thisBtn.addClass('active').siblings().removeClass('active');
    var btnValue = thisBtn.val();    

    var set_timeframe = default_timeframe
    $('#timeframe_sold button[value="3"]').click();
    $('#timeframe_purchased button[value="3"]').click();

    if (btnValue == 'volume') {
        var set_y_type = 'volume'
        default_y_type = 'volume'

        var set_data_type = "sold"
        var data_doughnut = dataLoader_doughnut(imported_data, set_data_type, set_y_type)
        doughnutChart.data = data_doughnut;
        doughnutChart.update();

        var set_data_type = "purchased"
        var data_doughnut = dataLoader_doughnut(imported_data, set_data_type, set_y_type)
        doughnutChart2.data = data_doughnut;
        doughnutChart2.update();



        var set_data_type = "sold"
        var data_bar = dataLoader_stackedBar(imported_data, set_data_type, set_y_type, set_timeframe)
        barChart.data = data_bar;
        barChart.update();

        var set_data_type = "purchased"
        var data_bar = dataLoader_stackedBar(imported_data, set_data_type, set_y_type, set_timeframe)
        barChart2.data = data_bar;
        barChart2.update();

    } else {
        var set_y_type = 'count'
        default_y_type = 'count'

        var set_data_type = "sold"
        var data_doughnut= dataLoader_doughnut(imported_data, set_data_type, set_y_type)
        doughnutChart.data = data_doughnut;
        doughnutChart.update();

        var set_data_type = "purchased"
        var data_doughnut = dataLoader_doughnut(imported_data, set_data_type, set_y_type)
        doughnutChart2.data = data_doughnut;
        doughnutChart2.update();

        var set_data_type = "sold"
        var data_bar = dataLoader_stackedBar(imported_data, set_data_type, set_y_type, set_timeframe)
        barChart.data = data_bar;
        barChart.update();

        var set_data_type = "purchased"
        var data_bar = dataLoader_stackedBar(imported_data, set_data_type, set_y_type, set_timeframe)
        barChart2.data = data_bar;
        barChart2.update();
    }

  });
  
  $('#timeframe_sold button').on('click', function() {
   
    var thisBtn = $(this);

    thisBtn.addClass('active text-white').siblings().removeClass('active text-white');
    
    var btnValue = thisBtn.val(); 

    var set_y_type = default_y_type

    var set_timeframe = Number(thisBtn.val())
        var set_data_type = "sold"
        var data_bar = dataLoader_stackedBar(imported_data, set_data_type, set_y_type, set_timeframe)
        barChart.data = data_bar;
        barChart.update();

  });

  $('#timeframe_purchased button').on('click', function() {
    var thisBtn = $(this);

    thisBtn.addClass('active text-white').siblings().removeClass('active text-white');
    
    var btnValue = thisBtn.val(); 
    var set_y_type = default_y_type

    var set_timeframe = Number(thisBtn.val())
        var set_data_type = "purchased"
        var data_bar = dataLoader_stackedBar(imported_data, set_data_type, set_y_type, set_timeframe)
        barChart2.data = data_bar;
        barChart2.update();

  });

  // You can use this to set default value
  // It will fire above click event which will do the updates for you
  $('#data_type button[value="volume"]').click();
  $('#timeframe_sold button[value="3"]').click();
  $('#timeframe_purchased button[value="3"]').click();
  

  document.getElementById('transaction_all').innerHTML  = imported_data['total_count']
  document.getElementById('transaction_sold').innerHTML  = imported_data['sold_count']
  document.getElementById('transaction_purchased').innerHTML  = imported_data['purchased_count']

});

function dropdownChanged() {
  var waste_type = document.getElementById("dropdown").value;
  var data_scatter = dataLoader_market(waste_type, imported_data['trading'])
  marketChart.data = data_scatter
  marketChart.update()
  document.getElementById("demo").innerHTML = "You selected: " + x;
}
    
// Materials sold and purchase - doughnut
var doughnut_sold= document.getElementById("item_sold_bytype").getContext("2d");
var doughnut_purchased= document.getElementById("item_purchased_bytype").getContext("2d");


// General doughnut chart settings
const doughnut_colors = ['rgb(255, 99, 132)','rgb(54, 162, 235)','rgb(100, 100, 50)','rgb(20, 160, 80)']

var options_doughnut = {
    responsive: false,
    maintainAspectRatio:false,
}

function dataLoader_doughnut(imported_data, set_data_type, set_y_type) {
    
    // Chart - materials sold
    if (set_data_type == "sold") {
        var data_type = imported_data['bylife_sold']
    } else {
        var data_type = imported_data['bylife_purchased']
    }

    if (set_y_type == "volume") {
        y_type = 'yvalue_sum'
    } else {
        y_type = 'yvalue_count'
    }

    var labels = data_type['legend'];
    var set_length = labels.length;
    var data = {
        labels: labels,
        datasets: [{
        data: data_type[y_type],
        backgroundColor: doughnut_colors.slice(0,set_length),
        hoverOffset: 4
        }]
        };

    return data;
}

var set_data_type = "sold"
var set_y_type = default_y_type

var data_doughnut= dataLoader_doughnut(imported_data, set_data_type, set_y_type)

var doughnutChart = new Chart(doughnut_sold,{
    type: 'doughnut',
    data: data_doughnut,
    options: options_doughnut

});
    

 





// Chart - materials purchased

var set_data_type = "purchased"
var set_y_type = default_y_type
var data_doughnut= dataLoader_doughnut(imported_data, set_data_type, set_y_type)

var doughnutChart2 = new Chart(doughnut_purchased,{
    type: 'doughnut',
    data: data_doughnut,
    options: options_doughnut

});
        



// Materials sold and purchase - 
var bar_sold= document.getElementById("item_sold_bytime").getContext("2d");
var bar_purchased= document.getElementById("item_purchased_bytime").getContext("2d");

// General settings
const colours = ['rgba(255, 99, 132, 0.5)', 'rgba(255, 206, 86, 0.5)','rgba(150, 150, 86, 0.5)','rgba(180, 180, 20, 0.5)'];
const bordercolour = 'rgba(0, 0, 0, 0.5)';
const borderwidth = 1;

var options = {
    responsive: false,
    maintainAspectRatio:false,
    legend: {
            display: false,
            position: 'top'
    },
    scales: {
            x: {
                    stacked: true
            },
            y: {
                beginAtZero: true,
                stacked: true
            }
        }
}

function dataLoader_stackedBar(imported_data, set_data_type, set_y_type, set_timeframe) {

    if (set_data_type == "sold") {
        var data_type = imported_data['bytime_sold']
    } else {
        var data_type = imported_data['bytime_purchased']
    }

    if (set_y_type == "volume") {
        y_type = 'yvalue_sum'
    } else {
        y_type = 'yvalue_count'
    }

    t = set_timeframe

    var x_values = data_type[t]['xvalue'];
    var legends = data_type[t]['legend'];
    var y_values = data_type[t][y_type];

    var dataset = []

    for (let i = 0; i < legends.length; i++) {
        var dict = {}
    
        dict['label'] = legends[i]
        dict['data'] = y_values[i]
        dict['backgroundColor'] = colours[i]
        dict['borderColor'] = bordercolour
        dict['borderWidth'] = borderwidth   
        
        dataset.push(dict)
    }    

    var data = {
                    labels: x_values,
                    datasets: dataset
                };

    return data;   
};


// Chart - materials sold by selected timeframe
var set_data_type = 'sold'
var set_y_type = default_y_type
var set_timeframe = default_timeframe

var data_bar = dataLoader_stackedBar(imported_data, set_data_type, set_y_type, set_timeframe)

var barChart = new Chart(bar_sold,{
    type: 'bar',
    data: data_bar,
    options: options

});

// Chart - materials purchased by selected timeframe
var set_data_type = 'purchased'
var set_y_type = default_y_type
var set_timeframe = default_timeframe

var data_bar = dataLoader_stackedBar(imported_data, set_data_type, set_y_type, set_timeframe)

var barChart2 = new Chart(bar_purchased,{
    type: 'bar',
    data: data_bar,
    options: options

});


// First line chart
var market_price = document.getElementById("market_price").getContext("2d");

/*
function setData_line(legends, y_values) {
    var dataset = []

    for (let i = 0; i < legends.length; i++) {
        var dict = {}
    
        dict['label'] = legends[i]
        dict['data'] = y_values[i]
        dict['fill'] = false
        dict['borderColor'] = colours[i]
        dict['tension'] = 0.1   
        
        dataset.push(dict)
    }    

  return dataset;   
}



const datatest2 = setData_line(test_legends, test_y)

var labels = [1,2,3,4,5,6,7];

var data = {
    labels: test_x,
    datasets: datatest2 
};

var opts = {
    responsive: false,
    maintainAspectRatio:false,
    legend: {
    display: false,
    position: 'top'
    }
}

var lineChart = new Chart(market_price,{
    type: 'line',
    data: data,
    options: opts

});
*/

function dataLoader_scatter(trading_sets) {
    var data = []

    for (let i = 0; i < trading_sets.length; i++) {
        var dict = {}
    
        dict['x'] = trading_sets[i][0]  
        dict['y'] = trading_sets[i][1]  
        console.log(dict)
        data.push(dict)
    }    

  return data;  
}

function dataLoader_market(waste_type, trading_data) {
    var dataset = []

    for (let i = 0; i < Object.keys(trading_data[waste_type]).length; i++) {
        var dict = {}
        
        key = Object.keys(trading_data[waste_type])[i]
        dict['label'] = key
        dict['data'] = dataLoader_scatter(trading_data[waste_type][key]) 
        dict['borderColor'] = colours[i]  
        dict['backgroundColor'] = colours[i]    
        console.log(dict)
        dataset.push(dict)
    }    

    var data = {
    datasets: dataset,
    };

  return data;  
}


var waste_type = default_waste_type

console.log(Object.keys(imported_data['trading'][waste_type]))

data_scatter = dataLoader_market(waste_type, imported_data['trading'])

const config = {
    type: 'scatter',
    data: data_scatter,
    options: {
        scales: {
        x: {
            type: 'category',
            position: 'bottom'
        }
        }
    }
    };

var marketChart = new Chart(market_price, config);
</script>
{% endblock addon %}