{% extends "normal_layout.html" %}
{% block content %}

<style>
  .form-control {
    display: block;
    width: 100%;
  }
  .form-control-s {
  display: block;
  width: 50%;
  }

  select.form-control{
    -webkit-appearance: menulist!important;
    -moz-appearance: menulist!important;
    -ms-appearance: menulist!important;
    -o-appearance: menulist!important;
    appearance: menulist!important;
  }
</style>

<div class="content-section" style="margin: 0 auto">
    <legend class="border-bottom mb-4 bg-primary text-white"><b> User Information</b></legend>
    
        <h5>Name: {{user.username}}</h5>
        <h5>Email Address: {{user.email}}</h5>

</div> 
<br>
<br>
<form method='POST'> 

<div class="content-section" style="margin: 0 auto">
    <legend class="border-bottom mb-4 bg-primary text-white"><b> 
       User's Waste Materials </b></legend>

    <table id = "waste_table" class="table table-bordered  table-hover" style="width:100%" >
      <thead class = "table-light">
        <tr>
          <th scope="col" style="width:50%">Description</th>
          <th scope="col" style="width:40%">Last modified</th>
          <th scope="col" style="width:5%"> </th>
          {% if current_user.id == user.id %}
          <th scope="col" style="width:5%"> </th>
          {% endif %}

        </tr>
      </thead>

      <tbody>
        {% for item in waste %}
        <tr>
          <td>{{item.description}}</td>
          <td>{{item.date}}</td>
          <td> <button type="button" style="float: none;" class="btn btn-sm btn-info text-white" onclick=" location.href = '{{url_for('waste', waste_id = item.id)}}' ">View</button></td>
          {% if current_user.id == user.id %}
          <td> <button type="submit" style="float: none;" class="btn btn-sm btn-danger text-white" name = "delete_waste_id" value = "{{item.id}}" onclick="return confirm('Delete entry?');">Delete</button></td>
          {% endif %}
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    <br>
    {% if current_user.id == user.id %}
    <button type = "button" class="btn btn-success text-white" onclick=" location.href = '{{url_for('new_entry', entry_type = 'waste')}}'" data-toggle="collapse" data-target="#"> <i class="fas fa-plus-circle"></i> Create New Waste</button>
    {% endif %}

  </div>   
  <br>
  <br>

  <div class="content-section" style="margin: 0 auto">
    <legend class="border-bottom mb-4 bg-primary text-white"><b> User's Waste Treatment Technologies </b></legend>

    <table id = "tech_table" class="table table-bordered table-hover" style="width:100%"  >
      <thead class = "table-light">
        <tr>
          <th scope="col" style="width:50%">Description</th>
          <th scope="col" style="width:40%">Last modified</th>
          <th scope="col" style="width:5%"> </th>
          {% if current_user.id == user.id %}
          <th scope="col" style="width:5%"> </th>
          {% endif %}

        </tr>
      </thead>

      <tbody>
        {% for item in tech_grouped %}
        <tr>
          <td>{{item.description}}</td>
          <td>{{item.date}}</td>
          <td> <button type="button" style="float: none;" class="btn btn-sm btn-info text-white" onclick=" location.href = '{{url_for('technology', tech_id = item.id)}}' ">View</button></td>
          {% if current_user.id == user.id %}
          <td> <button type="submit" style="float: none;" class="btn btn-sm btn-danger text-white" name = "delete_tech_id" value = "{{item.id}}" onclick="return confirm('Delete entry?');">Delete</button></td>

          {% endif %}


        </tr>
      {% endfor %}

      </tbody>
    </table>
    <br>
    {% if current_user.id == user.id %}
    <button type = "button" class="btn btn-success text-white" data-toggle="collapse" data-target="#" onclick=" location.href = '{{url_for('new_entry', entry_type = 'tech')}}'"> <i class="fas fa-plus-circle"></i> Create New Technology </button>
    {% endif %}

  </div> 

</form>

<script>


/* Initialization of datatable */
$(document).ready(function() {
    $('#waste_table').DataTable({ 
      searching: false,
      ordering: false,
      "lengthMenu": [ 5, 10, 20, 50, 100 ],

      

    });
});

$(document).ready(function() {
    $('#tech_table').DataTable({ 
      searching: false,
      ordering: false,
      "lengthMenu": [ 5, 10, 20, 50, 100 ],


    });
});

index = 1

function addCode() {
      index += 1
      document.getElementById("addItembutton").insertAdjacentHTML("beforebegin",
      
      `
      <div class="row">
        <label class="col-form-label col-sm-1">${index})</label>
        <select class="form-control form-control-s col-sm-3" name="tech_waste_id_${index}">
          <option value="None">None</option>
          {% for (id , waste) in wastematerial %}
          <option value="{{id}}">{{waste}}</option>
          {% endfor %}
        </select>
      </div>  
      <br>
              
      `

      );
  }
</script>

{% endblock content %}



