{% extends "normal_layout.html" %}
{% block content %}


<div>
    <legend class="border-bottom mb-4 bg-primary text-white"><b> Waste Treatment Technology Information</legend>

        <center>

            <table style = "width:100%" class="table">
                <tr>
                    <th style = "width:40%" class="py-1 table-light"">Name: </th>
                    <td class="py-1 table-light">{{tech.description}}</td>
                </tr>
                
                <tr>
                    <th class="py-1">Technology Provider: </th>
                    <td class="py-1"><a href="{{ url_for('profile', user_id = tech_provider.id)}}" target="_blank"> {{tech_provider.username}}</a></td>
                </tr>

                {% if product_list %}
                <tr>
                    <th class="py-1">Product: </th>
                    <td class="py-1">
                        {% for key, value in product_list.items() %}
                            {% if key != "None" %}
                            {{key}} ({{value}} wt%)
                            <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}

                <tr>
                    <th class="py-1">Last created/modified: </th>
                    <td class="py-1">{{tech.date}}</td>
                </tr>

                
            </table>
        </center>

        <h5><b><u>Acceptable feedstock type & conditions </u></b></h5>

        <center>
            {% for entry in all_tech %}

            <table style = "width:100%" class="table">
                <tr>
                    <th style = "width:40%" class="py-1 table-light">Feedstock type:  </th>
                    <td class="py-1 table-light""> {{entry.materialType}}</td>
                </tr>

                {% if entry.size != None %}
                <tr>
                    <th class="py-1">Feedstock size:  </th>
                    <td class="py-1"> {{entry.size}}</td>
                </tr>
                {% endif %}

                {% if entry.moisture != None %}
                <tr>
                    <th class="py-1">Feedstock moisture level:  </th>
                    <td class="py-1"> {{entry.moisture}}</td>
                </tr>
                {% endif %}

                {% if entry.cellulose_min != None %}
                <tr>
                    <th class="py-1">Feedstock cellulose content:  </th>
                    <td class="py-1"> {{entry.cellulose_min}} - {{entry.cellulose_max}} </td>
                </tr>
                {% endif %}

                {% if entry.homogeneity != None %}
                <tr>
                    <th class="py-1">Feedstock homogeneity:  </th>
                    <td class="py-1"> {{entry.homogeneity}}</td>
                </tr>
                {% endif %}

                {% if entry.pH_min != None %}
                <tr>
                    <th class="py-1">Feedstock pH:  </th>
                    <td class="py-1">{{entry.pH_min}} - {{entry.pH_max}}</td>
                </tr>
                {% endif %}

                {% if entry.CN_min != None %}
                <tr>
                    <th class="py-1">Feedstock carbon-to-nitrogen ratio:  </th>
                    <td class="py-1"> {{entry.CN_min}} - {{entry.CN_max}}</td>
                </tr>
                {% endif %}          

            </table>

            {% endfor %}

        </center>


       
</div> 

<br>


{% endblock content %}


