{% extends "normal_layout.html" %}
{% block content %}


<div>
    <legend class="border-bottom mb-4 bg-primary text-white"><b> Waste Treatment Technology Information</legend>
    
        <h5><b>Name: {{tech.description}}</b></h5>
        <h5><b>Technology Provider: <a href="{{ url_for('profile', user_id = tech_provider.id)}}" target="_blank"> {{tech_provider.username}}</a></b></h5>
        <h5><b>Product: {{tech.product_list}}</b></h5>
        <br>
        <h5><b><u>Acceptable feedstock type & conditions </u></b></h5>

        {% for entry in all_tech %}
        <h5>Feedstock type: {{entry.materialType}}</h5>

            {% if entry.size != None %}
            <h5>Feedstock size: {{entry.size}}</h5>
            {% endif %}

            {% if entry.moisture != None %}
            <h5>Feedstock moisture level: {{entry.moisture}}</h5>
            {% endif %}

            {% if entry.cellulose_min != None %}
            <h5>Feedstock cellulose content: {{entry.cellulose_min}} - {{entry.cellulose_max}} </h5>
            {% endif %}

            {% if entry.homogeneity != None %}
            <h5>Feedstock homogeneity: {{entry.homogeneity}}</h5>
            {% endif %}

            {% if entry.pH_min != None %}
            <h5>Feedstock pH: {{entry.pH_min}} - {{entry.pH_max}}</h5>
            {% endif %}

            {% if entry.CN_min != None %}
            <h5>Feedstock carbon-to-nitrogen ratio:  {{entry.CN_min}} - {{entry.CN_max}}</h5>
            {% endif %}

        <br>
        {% endfor %}

        <h5><b>Last created/modified: {{tech.date}}</b></h5>
</div> 

<br>


{% endblock content %}


