{% extends "normal_layout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>

  select.form-control{
    -webkit-appearance: menulist!important;
    -moz-appearance: menulist!important;
    -ms-appearance: menulist!important;
    -o-appearance: menulist!important;
    appearance: menulist!important;
  }
</style>




  <div class="content-section" style="margin: 0 auto">
    <form method='POST' enctype="multipart/form-data"> 

      <div class="container">
        <legend class="border-bottom mb-4">Matching --> {{material.type}} --> {{material.material}}</legend>
      </div>


        <div class="form-group">
          <label class="form-label" for="description">Product Name</label>
          <textarea class="form-control" name="description" placeholder="Please name this entry for your recognition" required></textarea>
        </div>

<!--
        <div class="form-group">
          <label class="form-label" for="feedstock_type"><u>Type of feedstock</u></label>
          <br>  
          <label for="feedstock_type" class="form-label">Select the acceptable type of waste:</label>

          <div class="form-check form-check">
            <input type='hidden' value='0' id="feedstock_food" name='feedstock_food'>
            <input type="checkbox" class="form-check-input" id="feedstock_food" name="feedstock_food" value="1">
            <label class="form-check-label" for="feedstock_type">Food waste</label>
          </div>

          <div class="form-check form-check">
            <input type='hidden' value='0' id="feedstock_wood" name='feedstock_wood'>
            <input type="checkbox" class="form-check-input" id="feedstock_wood" name="feedstock_wood" value="1">
            <label class="form-check-label" for="feedstock_type">Wood waste</label>
          </div>        
        
          <div class="form-check form-check">
            <input type='hidden' value='0' id="feedstock_manure" name='feedstock_manure'>
            <input type="checkbox" class="form-check-input" id="feedstock_manure" name="feedstock_manure" value="1">
            <label class="form-check-label" for="feedstock_type">Animal manure</label>
          </div>
        </div>
  -->


          {% if materialId=='15' %}

        <div class="form-group">
          <label class="form-label" for="Q46"><u>Conditions of the waste</u></label>
          <br>      
        
          <label for="Q46" class="form-label">Select the restrictions you wish to impose on the waste:</label>

          <div class="form-check form-check">
            <input type='hidden' value='0' id="Q46_homogeneity" name='Q46_homogeneity'>
            <input type="checkbox" class="form-check-input" id="Q46_homogeneity" name="Q46_homogeneity" value="1" data-toggle='collapse' data-target='#homogeneity' aria-expanded="false">
            <label class="form-check-label" for="Q46">Homogeneity</label>
          </div>
          <div class="collapse" id="homogeneity">
            <div class="form-group row">
              <label for="Q46" class="col-sm-3 col-form-label">Please key in the min/max percentage required</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="Q46_min_homogeneity" name="Q46_min_homogeneity" placeholder="Minimum wt%">
              </div>
              <label for="Q46" class="col-sm-1 col-form-label"></label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="Q46_max_homogeneity" name="Q46_max_homogeneity" placeholder="Maximum wt%">
              </div>
            </div>
            </div>

          <div class="form-check form-check">
            <input type='hidden' value='0' id="Q46_moisture" name='Q46_moisture'>
            <input type="checkbox" class="form-check-input" id="Q46_moisture" name="Q46_moisture" value="1" data-toggle='collapse' data-target='#Moisture' aria-expanded="false">
            <label class="form-check-label" for="Q46">Moisture</label>
          </div>

          <div class="collapse" id="Moisture">
            <div class="form-group row">
              <label for="Q46" class="col-sm-3 col-form-label">Please key in the min/max moisture required</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="Q46_min_moisture" name="Q46_min_moisture" placeholder="Minimum wt%">
              </div>
              <label for="Q46" class="col-sm-1 col-form-label"></label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="Q46_max_moisture" name="Q46_max_moisture" placeholder="Maximum wt%">
              </div>
            </div>
            </div>
          
        
          
          <div class="form-check form-check">
            <input type='hidden' value='0' id="Q46_size" name='Q46_size'>
            <input type="checkbox" class="form-check-input" id="Q46_size" name="Q46_size" value="1" data-toggle='collapse' data-target='#size' aria-expanded="false">
            <label class="form-check-label" for="Q46">Size of feedstock</label>
          </div>
          <div class="collapse" id="size">
            <div class="form-group row">
              <label for="Q46" class="col-sm-3 col-form-label">Please key in the min/max size of feedstock in cm</label>
              <div class="col-sm-2">
              <input type="text" class="form-control" id="Q46_min_Size" name="Q46_min_Size" placeholder="Minimum size">
              </div>
              <label for="Q46" class="col-sm-1 col-form-label"></label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="Q46_max_Size" name="Q46_max_Size" placeholder="Maximum size">
              </div>
              <label for="Q46" class="col-sm-1 col-form-label"><var>cm</var></label>
            </div>
            </div>
        </div>



        {% endif %}


        {% if materialId=='16' %}

        <div class="form-group">
          <label class="form-label" for="Q46"><u>Conditions of the waste</u></label>
          <br>      
        
          <label for="Q46" class="form-label">Select the restrictions you wish to impose on the waste:</label>

          <div class="form-check form-check">
            <input type='hidden' value='0' id="Q46_homogeneity" name='Q46_homogeneity'>
            <input type="checkbox" class="form-check-input" id="Q46_homogeneity" name="Q46_homogeneity" value="1" data-toggle='collapse' data-target='#homogeneity' aria-expanded="false">
            <label class="form-check-label" for="Q46">Homogeneity</label>
          </div>
          <div class="collapse" id="homogeneity">
            <div class="form-group row">
              <label for="Q46" class="col-sm-3 col-form-label">Please key in the min/max percentage required</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="Q46_min_homogeneity" name="Q46_min_homogeneity" placeholder="Minimum wt%">
              </div>
              <label for="Q46" class="col-sm-1 col-form-label"></label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="Q46_max_homogeneity" name="Q46_max_homogeneity" placeholder="Maximum wt%">
              </div>
            </div>
            </div>

          <div class="form-check form-check">
            <input type='hidden' value='0' id="Q46_moisture" name='Q46_moisture'>
            <input type="checkbox" class="form-check-input" id="Q46_moisture" name="Q46_moisture" value="1" data-toggle='collapse' data-target='#Moisture' aria-expanded="false">
            <label class="form-check-label" for="Q46">Moisture</label>
          </div>

          <div class="collapse" id="Moisture">
            <div class="form-group row">
              <label for="Q46" class="col-sm-3 col-form-label">Please key in the min/max moisture required</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="Q46_min_moisture" name="Q46_min_moisture" placeholder="Minimum wt%">
              </div>
              <label for="Q46" class="col-sm-1 col-form-label"></label>
              <div class="col-sm-2">
                <input type="text" class="form-control" id="Q46_max_moisture" name="Q46_max_moisture" placeholder="Maximum wt%">
              </div>
            </div>
            </div>

        {% endif %}


        {{form.csrf_token}} 

        {% for question in questions %}
        {{question.questionHTML|safe}}
        <br>
        {% endfor %}


        <br>
          <div class="form-group">
            <label for="cost" class="form-label">Please input the capital cost of your technology ($):</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="cost" name="cost" placeholder="$">
                </div>
          </div>
        <br>
          <div class="form-group">
            <label for="capacity" class="form-label">Please input the monthly capacity of your technology:</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="capacity" name="capacity" placeholder="tonnes">
                </div>
          </div>
        <br>
          <div class="form-group">
            <label for="URL" class="form-label">Please input your company URL:</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="URL" name="URL" placeholder="URL">
                </div>
          </div>
        <br>
        <div class="form-group">
          
          <label class="form-label" for="Q_tech">Is your technology available for sale?</label>
          <br>
          <div class="form-check form-check-inline" >
            <input type="checkbox" class="form-check-input" id="Q_tech" name="Q_tech" value="1" onclick="onlyOne(this,'Q_tech')" data-toggle='collapse' data-target='#Q_scale' aria-expanded="false">
            <label class="form-check-label" for="Q_tech">Yes</label>
          </div>

          <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" id="Q_tech" name="Q_tech" value="2">
              <label class="form-check-label" for="Q_tech">No</label>
          </div>
        </div>

        
        <div class="collapse" id="Q_scale">
          <div class="form-group">
          
            <label class="form-label" for="Q_scale">Can your tech be scaled?</label>
            <br>
            <div class="form-check form-check-inline" >
              <input type="checkbox" class="form-check-input" id="Q_scale" name="Q_scale" value="1" onclick="onlyOne(this,'Q_scale')">
              <label class="form-check-label" for="Q_scale">Yes</label>
            </div>
  
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="Q_scale" name="Q_scale" value="2" onclick="onlyOne(this,'Q_scale')">
                <label class="form-check-label" for="Q_scale">No</label>
            </div>
          </div>
        </div>

    

        <br>
        <a class="btn btn-outline-secondary" href="{{ url_for('matching') }}" role="button" onclick="return confirm('Inputs will not be saved, are you sure you want to go back?');">Back</a>
        <button type="submit" style="float: right;" class="btn btn-success" onclick="return confirm('Please verify your response before submitting');">Submit</button>
      </div>
    </form>




<script>
  function onlyOne(checkbox,name) {
  var checkboxes = document.getElementsByName(name)
  checkboxes.forEach((item) => {
    if (item !== checkbox){
      item.checked = false;
      }
    })
  }

  // $( document ).ready(function() {
  //   $('.collapse').on('show.bs.collapse', function () {
  //     // hide all accordion except the clicked one
  //     $('.collapse').not(this).collapse('hide');
  //   });

    // $('#test').on('show.bs.collapse', function () {
    //   alert("activated");
    //   $('#no').collapse('hide');
    // });

    // $('#Q4').on('show.bs.collapse', function () {
    //   alert("activated");
    //   $('#yes').collapse('hide');
    // });

  // });

  $('a[data-toggle="tooltip"]').tooltip({
      animated: 'fade',
      placement: 'bottom',
      html: true
  });

</script>
    
{% endblock content %}


