{% extends "normal_layout.html" %}
{% block content %}

<style>
.form-control {
  display: block;
  width: 100%;
}
.form-control-s {
display: block;
width: 50%;
}
.form-control-b {
display: block;
width: 150%;
}

select.form-control{
-webkit-appearance: menulist!important;
-moz-appearance: menulist!important;
-ms-appearance: menulist!important;
-o-appearance: menulist!important;
appearance: menulist!important;
}
</style>

<form method='POST' enctype="multipart/form-data"> 

<div class="container-fluid">
  <legend class="border-bottom mb-4">Question Form - Recycling Service Providers</legend>

  <br>
  <h4> Technology Specifications: </h4>
  <br>

  <div class="form-group">
      <label  class="form-label" for="description"><u>Product Name</u></label>
      <textarea class="form-control" name="description" placeholder="Please name this entry for your recognition" required></textarea>
  </div>

  <br>

  <div class="form-group">
      <label class="form-label" for="technology"><u>State the treatment technology</u></label>
      <input type="text" class="form-control" name="technology" placeholder="Technology">    
  </div>
    
  <br>

  <div class="form-group">
    <label class="form-label" for="products"><u>What are the products/by-product of your technology</u></label>
    <br>

    <div class="row">
      <label class="col-form-label col-sm-1">1)</label>
      <select class="form-control form-control-s col-sm-3" id="product_name" name="product_name" onchange="ShowUnit()">
        <option selected> Select a product</option>
        {% for product, unit in sampleproduct %}
        <option value="{{product}}" id = 'selectedproduct'>{{product}}</option>
        {% endfor %}
      </select>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="product_yield" name="product_yield">
      </div>
      <label class="col-sm-2 col-form-label" id="efficiency">%</label>
    </div>  
    <br>
  
    <button onclick="addCode()" id = 'addItembutton' type ="button", class =  'btn btn-outline-info'>Add Item</button>  

  </div>

  <br>
  <hr>
  <br>
  <h4> Feedstock Requirements: </h4>
  <br>

    {% if "1" in materialId %}

   
    <div class="form-group">
      <label class="form-label"><u>Food waste</u></label>
      <br>
    
    
      <label  class="form-label">Select the restrictions you wish to impose on the waste:</label>

      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="CN_yesno_food" value="1" data-toggle='collapse' data-target='#CNratio' aria-expanded="false">
        <label class="form-check-label" for="CN_yesno_food">Carbon-to-nitrogen (C/N) ratio</label>
      </div>
      <div class="collapse bg-light" id="CNratio">
        <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Please key in the min/max C/N ratio (i.e. 7.5 for C:N of 15:2)</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="CN_min_food" placeholder="Min">
          </div>
          <label class="col-sm-1 col-form-label"> to </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="CN_max_food" placeholder="Max">
          </div>
        </div>
      </div>
      
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="pH_yesno_food" value="1" data-toggle='collapse' data-target='#pH' aria-expanded="false">
        <label class="form-check-label">pH</label>
      </div>
      <div class="collapse  bg-light" id="pH">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Please key in the min/max pH required</label>
          <div class="col-sm-3">
            <input type="text" class="form-control"  name="pH_min_food" placeholder="Min pH">
          </div>
          <label for="Q46" class="col-sm-1 col-form-label"> to </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="pH_max_food" placeholder="Max pH">
          </div>
        </div>
      </div>
    
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="cellulose_yesno_food" value="1" data-toggle='collapse' data-target='#cellulosic' aria-expanded="false">
        <label class="form-check-label">Cellulosic content</label>
      </div>
      <div class="collapse  bg-light" id="cellulosic">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Please key in the min/max acceptable cellulose content</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="cellulose_min_food" placeholder="Min wt%">
          </div>
          <label class="col-sm-1 col-form-label"> to </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="cellulose_max_food" placeholder="Max wt%">
          </div>
        </div>
      </div>

      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="moisture_yesno_food" value="1" data-toggle='collapse' data-target='#Moisture' aria-expanded="false">
        <label class="form-check-label">Moisture</label>
      </div>

      <div class="collapse bg-light" id="Moisture">
        <div class="form-group">
          <label class="form-label">Select the acceptable moisture level </label>
          <br>
        
            {% for key,(label, _, _) in foodref.moisture.items() %}
            {% if label != 'Not sure' %}
            <div class="form-check form-check-inline" >
              <input type="checkbox" class="form-check-input" name="moisture_level_food" value="{{key}}">
              <label class="form-check-label">{{label}}</label>
            </div>
            {% endif %}
            {% endfor %}

        </div>
      </div>
      

      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="homogeneity_yesno_food" value="1" data-toggle='collapse' data-target='#homogeneity-food' aria-expanded="false">
        <label class="form-check-label">Homogeneity</label>
      </div>
      <div class="collapse  bg-light" id="homogeneity-food">
        <div class="form-group">
          <label class="form-label">Select the acceptable homogeneity level </label>
          <br>

          {% for key,(label, _, _) in foodref.homogeneity.items() %}
          {% if label != 'Not sure' %}
          <div class="form-check form-check-inline" >
            <input type="checkbox" class="form-check-input" name="homogeneity_level_food" value="{{key}}">
            <label class="form-check-label" for="homogeneity_food">{{label}}</label>
          </div>
          {% endif %}
          {% endfor %}

        </div>
      </div>
      
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="size_yesno_food" value="1" data-toggle='collapse' data-target='#size' aria-expanded="false">
        <label class="form-check-label">Size of Solid Particles</label>
      </div>
      <div class="collapse  bg-light" id="size">
        <div class="form-group">
          <label class="form-label" for="Q7"> Select the acceptable size of solid particles in the waste</label>
          <br>

          {% for key,(label) in foodref.size.items() %}
          {% if label != 'Not sure' %}
          <div class="form-check form-check-inline" >
            <input type="checkbox" class="form-check-input" name="size_level_food" value="{{key}}">
            <label class="form-check-label" for="size_food">{{label}}</label>
          </div>
          {% endif %}
          {% endfor %}
      
        </div>
      </div>


      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="impurities_yesno_food" value="1" data-toggle='collapse' data-target='#impurities-food' aria-expanded="false">
        <label class="form-check-label">Impurities</label>
      </div>
      <div class="collapse  bg-light" id="impurities-food">
        <div class="form-group">
          <label class="form-label"> Is the presence of indigestible/non-degradable materials in feedstock acceptable?</label>
          <br>

          <div class="form-check form-check-inline" >
            <input type="radio" class="form-check-input" name=impurities_food value = 1>
            <label class="form-check-label" for="impurities">Yes </label>
          </div>
      
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="impurities_food" value = 0>
            <label class="form-check-label" for="impurities">No </label>
          </div>     
        </div>
      </div>
    </div>


  {% endif %}

  {% if "2" in materialId %}


    <div class="form-group">
      <label class="form-label"><u>Animal manure</u></label>
      <br>      

      <label for="Q46" class="form-label">Select the restrictions you wish to impose on the waste:</label>

      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="CN_yesno_manure" value="1" data-toggle='collapse' data-target='#CNratio-manure' aria-expanded="false">
        <label class="form-check-label" for="cn_yesno_manure">Carbon-to-nitrogen (C/N) ratio</label>
      </div>
      <div class="collapse bg-light" id="CNratio-manure">
        <div class="form-group row">
          <label  class="col-sm-4 col-form-label">Please key in the min/max C/N ratio (i.e. 7.5 for C:N of 15:2)</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="CN_min_manure" placeholder="Min">
          </div>
          <label class="col-sm-1 col-form-label"> to </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="CN_max_manure" placeholder="Max">
          </div>
        </div>
      </div>
      
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="pH_yesno_manure" value="1" data-toggle='collapse' data-target='#pH-manure' aria-expanded="false">
        <label class="form-check-label" >pH</label>
      </div>
      <div class="collapse  bg-light" id="pH-manure">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Please key in the min/max pH required</label>
          <div class="col-sm-3">
            <input type="text" class="form-control"  name="pH_min_manure" placeholder="Min pH">
          </div>
          <label for="Q46" class="col-sm-1 col-form-label"> to </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="pH_max_manure" placeholder="Max pH">
          </div>
        </div>
      </div>
    
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="cellulose_yesno_manure" value="1" data-toggle='collapse' data-target='#cellulosic-manure' aria-expanded="false">
        <label class="form-check-label">Cellulosic content</label>
      </div>
      <div class="collapse  bg-light" id="cellulosic-manure">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Please key in the min/max acceptable cellulose content</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="cellulose_min_manure" placeholder="Min wt%">
          </div>
          <label class="col-sm-1 col-form-label"> to </label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="cellulose_max_manure" placeholder="Max wt%">
          </div>
        </div>
      </div>

      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="moisture_yesno_manure" value="1" data-toggle='collapse' data-target='#Moisture-manure' aria-expanded="false">
        <label class="form-check-label">Moisture</label>
      </div>

      <div class="collapse bg-light" id="Moisture-manure">
        <div class="form-group">
           <label class="form-label">Select the acceptable moisture level </label>
          <br>

          {% for key,(label, _, _) in manureref.moisture.items() %}
          {% if label != 'Not sure' %}
          <div class="form-check form-check-inline" >
            <input type="checkbox" class="form-check-input" name="moisture_level_manure" value="{{key}}">
            <label class="form-check-label" for="moisture_manure">{{label}}</label>
          </div>
          {% endif %}
          {% endfor %}

        </div>
      </div>

      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="homogeneity_yesno_manure" value="1" data-toggle='collapse' data-target='#homogeneity-manure' aria-expanded="false">
        <label class="form-check-label">Homogeneity</label>
      </div>
      <div class="collapse  bg-light" id="homogeneity-manure">
        <div class="form-group">
          <label class="form-label">Select the acceptable homogeneity level </label>
          <br>

          {% for key,(label, _, _) in manureref.homogeneity.items() %}
          {% if label != 'Not sure' %}
          <div class="form-check form-check-inline" >
            <input type="checkbox" class="form-check-input" name="homogeneity_level_manure" value="{{key}}">
            <label class="form-check-label" for="homogeneity_manure">{{label}}</label>
          </div>
          {% endif %}
          {% endfor %}

        </div>
      </div>

      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="impurities_yesno_manure" value="1" data-toggle='collapse' data-target='#impurities-manure' aria-expanded="false">
        <label class="form-check-label">Impurities</label>
      </div>
      <div class="collapse  bg-light" id="impurities-manure">
        <div class="form-group">
          <label class="form-label" for="Q7"> Is the presence of indigestible/non-degradable materials in feedstock acceptable?</label>
          <br>

          <div class="form-check form-check-inline" >
            <input type="radio" class="form-check-input" name=impurities_manure value = 1>
            <label class="form-check-label" for="impurities">Yes </label>
          </div>
      
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="impurities_manure" value = 0>
            <label class="form-check-label" for="impurities">No </label>
          </div>     
        </div>
      </div>

    </div>
  {% endif %}

  <br>

  {% if "3" in materialId %}

    <div class="form-group">
      <label class="form-label" for="Q46"><u>Wood waste</u></label>
      <br>      
    
      <label for="Q46" class="form-label">Select the restrictions you wish to impose on the waste:</label>

      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="moisture_yesno_wood" value="1" data-toggle='collapse' data-target='#Moisture-wood' aria-expanded="false">
        <label class="form-check-label">Moisture</label>
      </div>

      <div class="collapse bg-light" id="Moisture-wood">
        <div class="form-group">
           <label class="form-label">Select the acceptable moisture level </label>
          <br>

          {% for key,(label, _, _) in woodref.moisture.items() %}
          {% if label != 'Not sure' %}
          <div class="form-check form-check-inline" >
            <input type="checkbox" class="form-check-input" name="moisture_level_wood" value="{{key}}">
            <label class="form-check-label" for="moisture_wood">{{label}}</label>
          </div>
          {% endif %}
          {% endfor %}

        </div>
      </div>

      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="homogeneity_yesno_wood" value="1" data-toggle='collapse' data-target='#homogeneity-wood' aria-expanded="false">
        <label class="form-check-label" for="Q46">Homogeneity</label>
      </div>
      <div class="collapse  bg-light" id="homogeneity-wood">
        <div class="form-group">
          <label class="form-label">Select the acceptable homogeneity level </label>
          <br>

          {% for key,(label, _, _) in woodref.homogeneity.items() %}
          {% if label != 'Not sure' %}
          <div class="form-check form-check-inline" >
            <input type="checkbox" class="form-check-input" name="homogeneity_level_wood" value="{{key}}">
            <label class="form-check-label" for="homogeneity_wood">{{label}}</label>
          </div>
          {% endif %}
          {% endfor %}

        </div>
      </div>
      
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="size_yesno_wood" value="1" data-toggle='collapse' data-target='#size-wood' aria-expanded="false">
        <label class="form-check-label">Size of Solid Particles</label>
      </div>
      <div class="collapse  bg-light" id="size-wood">
        <div class="form-group">
          <label class="form-label"> Select the acceptable size of solid particles in the waste</label>
          <br>

          {% for key,(label) in woodref.size.items() %}
          {% if label != 'Not sure' %}
          <div class="form-check form-check-inline" >
            <input type="checkbox" class="form-check-input" name="size_level_wood" value="{{key}}">
            <label class="form-check-label" for="size_wood">{{label}}</label>
          </div>
          {% endif %}
          {% endfor %}
      
        </div>
      </div>


      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input" name="impurities_yesno_wood" value="1" data-toggle='collapse' data-target='#impurities-wood' aria-expanded="false">
        <label class="form-check-label">Impurities</label>
      </div>
      <div class="collapse  bg-light" id="impurities-wood">
        <div class="form-group">
          <label class="form-label" > Is the presence of indigestible/non-degradable materials in feedstock acceptable?</label>
          <br>

          <div class="form-check form-check-inline" >
            <input type="radio" class="form-check-input" name=impurities_wood value = 1>
            <label class="form-check-label" for="impurities">Yes </label>
          </div>
      
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" name="impurities_wood" value = 0>
            <label class="form-check-label" for="impurities">No </label>
          </div>     
        </div>
      </div>
    </div>

  {% endif %}
   

 
  
  <br>
  <a class="btn btn-outline-secondary" href="{{ url_for('matching') }}" role="button" onclick="return confirm('Inputs will not be saved, are you sure you want to go back?');">Back</a>
  <button type="submit" style="float: right;" class="btn btn-success" id = submit onclick="return confirm('Please verify your response before submitting');">Submit</button>
  




</div>


</form>

<script>

/*
  function ShowUnit() {

    const productlist = '{{sampleproduct}}'

    const selected = (document.getElementById("selectedproduct").value)

    const [prod, unit] = selected


        
    document.getElementById("Q3_1_w").placeholder = 0
    document.getElementById("test").textContent = "tonne/tonne waste input"
  }
*/






  $('a[data-toggle="tooltip"]').tooltip({
      animated: 'fade',
      placement: 'bottom',
      html: true
  });

  counter = 1

function addCode() {
    counter += 1
    document.getElementById("addItembutton").insertAdjacentHTML("beforebegin",

        `
        <div class="row">
          <label class="col-form-label col-sm-1">${counter})</label>
          <select class="form-control form-control-s col-sm-3" id="product_name" name="product_name" onchange="ShowUnit()">
            <option selected> Select a product</option>
            {% for product, unit in sampleproduct %}
            <option value="{{product}}" id = 'selectedproduct'>{{product}}</option>
            {% endfor %}
          </select>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="product_yield" name="product_yield">
          </div>
          <label class="col-sm-2 col-form-label" id="efficiency">%</label>
        </div>  
        <br>

        `            
        );
}





  
</script>

{% endblock content %}
