{% extends "normal_layout.html" %}
{% block content %}

<h2 style="color:deepskyblue"><strong>Capacity Planning</strong></h2>

    <div class="table-responsive">
        <table class="table text-nowrap">
            <thead>
                <tr>
                    <th class="border-top-0">#</th>
                    <th class="border-top-0">Name</th>
                    <th class="border-top-0">Cost</th>
                    <th class="border-top-0">Material</th>
                    <th class="border-top-0">Reserve Price</th>
                    <th class="border-top-0">Capacity</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for index, name, cost, material, rp, cap in result %} 
                    <tr>
                        <td>{{index}}</td>
                        <td>{{name}}</td>
                        <td>{{cost}}</td>
                        <td>{{material}}</td>
                        <td>{{rp}}</td>
                        <td>{{cap}}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="text-center p-20 upgrade-btn">
        <a href="{{ url_for('adding_tech') }}"
            class="btn d-grid btn-danger text-white">
            Add New Technology</a>
    </div>
    <div class="text-center p-20 upgrade-btn">
        <a href="{{ url_for('allocate_budget') }}"
            class="btn d-grid btn-danger text-white">
            Allocate Resources</a>
    </div>
    

<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->
{% endblock content %}