{% extends "normal_layout.html" %}
{% block content %}
<style>

  select.form-control{
    -webkit-appearance: menulist!important;
    -moz-appearance: menulist!important;
    -ms-appearance: menulist!important;
    -o-appearance: menulist!important;
    appearance: menulist!important;
  }
</style>
 
  <div class="content-section" style="margin: 0 auto">
    <h2 style="color:deepskyblue"><strong>Dispatch Matching</strong></h2>
    <br>


    <form method='POST'> 
      {{form.csrf_token}} 
      
      <!--
      <div class="form-group">
        <h5>What is your purpose?</h5>
       {{ form.type(class="form-control form-control-lg") }}
      </div>
      -->
      
      <div class="form-group">
        <h5>Selling waste:</h5>
       {{ form.wasteSelect(class="form-control form-control-lg") }}
      </div>

      <div class="form-group">
        <h5>Purchasing waste:</h5>
       {{ form.techSelect(class="form-control form-control-lg") }}
      </div>

      <div class="form-group">
        {{ form.submit(class="btn btn-success btn-lg") }}
      </div>
    </form>
  </div> 
    <br>

  <div class="content-section" style="margin: 0 auto">
    <h5>View past matching results</h5>
    <br>
    <div class="form-group">
      <a class="btn btn-outline-primary" href="{{ url_for('dispatch_matching_results') }}" role="button">View Results</a>
    </div>
  </div>




{% endblock content %}



