{% extends "normal_layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="white-box">

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title">Select your role</h3>
                        <div class="text-center p-20 upgrade-btn">
                            <a href="{{ url_for('selling_waste') }}"
                                class="btn d-grid btn-danger text-white">
                                Selling Waste</a>
                        </div>
                        <div class="text-center p-20 upgrade-btn">
                            <a href="{{ url_for('recycling_service_provider') }}"
                                class="btn d-grid btn-danger text-white">
                                Recycling Service Provider</a>
                        </div>
                        <div class="text-center p-20 upgrade-btn">
                            <a href="{{ url_for('buying_resources_selection') }}"
                                class="btn d-grid btn-danger text-white">
                                Buying Resources</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->


        </div>
    </div>
</div>
{% endblock content %}