{% extends "normal_layout.html" %}
{% block content %}

<style>
.form-control {
  display: block;
  width: 100%;
}
.form-control-s {
display: block;
width: 50%;
}

select.form-control{
-webkit-appearance: menulist!important;
-moz-appearance: menulist!important;
-ms-appearance: menulist!important;
-o-appearance: menulist!important;
appearance: menulist!important;
}
</style>

<form method='POST' enctype="multipart/form-data"> 

<div class="container-fluid">
  <legend class="border-bottom mb-4">Question Form - Waste Sellers</legend>


  <div class="form-group">
      <label class="form-label" for="description">Product Name</label>
      <textarea class="form-control" name="description" placeholder="Please name this entry for your recognition" required></textarea>
  </div>


  {% if materialId == "1" %}
  <!--h2> Food Waste </h2-->

  <div class="form-group">
    <label class="form-label"><u>Waste breakdown</u></label>
    <br>
    <label class="form-label">Please select from the dropdown list to select the relevant material(s) and indicate its mass percentage</label>
  
    <div class="row">
      <label class="col-form-label col-sm-1">1)</label>
      <select class="form-control form-control-s col-sm-3" name="food_content_id_1">
        <option value="None">None</option>
        {% for item in samplefood %}
        <option value="{{item}}">{{item}}</option>
        {% endfor %}
      </select>
      <div class="col-sm-2">
        <input type="number" class="form-control" name="food_content_wt_1" placeholder=0>
      </div>
      <label class="col-sm-2 col-form-label">wt %</label>
    </div>  

    <br>

    <button type="button" class="btn btn-outline-info" onclick="addCode()" id = 'addItembutton'>Add Item</button>  
  </div>

  <br>

  <div class="form-group">
    <label class="form-label"><u>Size of solid particles</u></label>
    <br>
    <label class="form-label">Select the best description of the solid particles in the waste</label>
    <a href="#" data-toggle="tooltip" title="" >
      <IMG SRC="/static/icons/information.png" ALT="logo" WIDTH=15 HEIGHT=15>
    </a>
    <br>

    {% for key, (label) in foodref.size.items() %}
    <div class="form-check form-check-inline" >
      <input type="radio" class="form-check-input" name=approx_size value="{{key}}">
      <label class="form-check-label" for="approx_size">{{label}} </label>
    </div>
    {% endfor %}

  </div>


  <div class="form-group">
    <label class="form-label"><u>Impurities</u></label>
    <br>
    <label class="form-label">Does your waste contain indigestible/non-degradable materials such as bones, shells, and plastics? </label>
    <br>
    <div class="form-check form-check-inline" >
      <input type="radio" class="form-check-input" name=impurities value = 1>
      <label class="form-check-label" for="impurities">Yes </label>
    </div>

    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" name="impurities" value = 0>
      <label class="form-check-label" for="impurities">No </label>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="Q2"><u>Chemical composition of waste </u></label>
    <br>
    <label class="form-label" for="Q2">Have a lab analysis been carried out for the waste type?</label>
    <br>
    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" name="lab_analysis" value="1" data-toggle='collapse' data-target='#labAnalysis-food' aria-expanded="false">
      <label class="form-check-label" for="lab_analysis">Yes</label>
    </div>

    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input"  name="lab_analysis" value="0" data-toggle='collapse' data-target='#approximation-food' aria-expanded="false">
      <label class="form-check-label" for="lab_analysis">No</label>
    </div>
  </div>

  
  <div class="collapse" id="labAnalysis-food">

    <div class="form-group row">
      <label class="form-label"><u>Biodegradable parts</u></label>
      <br>
      <label class="col-sm-5 col-form-label">Please key in C:H:N ratio</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="lab_chn" placeholder="C:H:N">
      </div>
    </div>


    <div class="form-group row">
      <label class="form-label" for="Q4"><u>Moisture</u></label>
      <br>
      <label  class="col-sm-5 col-form-label">Please key in the weight percentage of moisture (0-99 wt%)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control " name="lab_moisture" placeholder="wt%">
      </div>
    </div>

    
    <div class="form-group row">
      <label class="form-label"><u>Cellulosic content</u></label>
      <br>  
      <label for="Q4Moisture" class="col-sm-5 col-form-label">Please key in the weight percentage of cellulose (0-99 wt%)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control " name="lab_cellulose" placeholder="wt%">
      </div>
    </div>

    <div class="form-group row">
      <label class="form-label"><u>pH value</u></label>
      <br>
      <label class="col-sm-5 col-form-label">Please key in the pH of waste (1-14)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control " name="lab_pH" placeholder="">
      </div>
    </div>
  </div>
 
  <div class="collapse" id="approximation-food">
    
    <div class="form-group">
      <label class="form-label"><u>Moisture</u></label>
      <br>
      <label class="form-label"> Select the best description for the waste you have generated </label>
      <br>

      {% for key,(label, _, _) in foodref.moisture.items() %}
      <div class="form-check form-check-inline" >
        <input type="radio" class="form-check-input" name="approx_moisture" value="{{key}}">
        <label class="form-check-label">{{label}}</label>
      </div>
      {% endfor %}

    </div>
    

  </div>


{% endif %}


{% if materialId == "2" %}
<!-- h2> Animal Manure </h2 -->

  <div class="form-group">
    <label class="form-label"><u>Animal Manure Type</u></label>
    <br>
    <label class="form-label"> Select the type of animal manure: </label>
    <br>
    <select class="form-control form-control-s col-sm-3" name="type">
      <option value="None">None</option>
      {% for item in samplemanure %}
      <option value="{{item}}">{{item}}</option>
      {% endfor %}
    </select>
  </div>


  <div class="form-group">
    <label class="form-label"><u>Impurities</u></label>
    <br>
    <label class="form-label">Does your waste contain indigestible/non-degradable materials such as sand and stones? </label>
    <br>
    <div class="form-check form-check-inline" >
      <input type="radio" class="form-check-input" name=impurities value = 1>
      <label class="form-check-label" for="impurities">Yes </label>
    </div>

    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" name="impurities" value = 0>
      <label class="form-check-label" for="impurities">No </label>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" ><u>Composition of waste </u></label>
    <br>
    <label class="form-label"> Has a lab analysis been carried out for the manure?</label>
    <br>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input"  name="lab_analysis" value="1" data-toggle='collapse' data-target='#labAnalysis-manure' aria-expanded="false">
      <label class="form-check-label" for="lab_analysis">Yes</label>
    </div>

    <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="lab_analysis" value="0" data-toggle='collapse' data-target='#approximation-manure' aria-expanded="false">
        <label class="form-check-label" for="lab_analysis">No</label>
    </div>
  </div>

  
  <div class="collapse" id="labAnalysis-manure">
    <label class="form-label"><u>Chemical composition</u></label>
    <br>
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Please key in C:H:N ratio<br>(weight % in dry basis)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control " name="lab_chn" placeholder="C:H:N">
      </div>
    </div>  

    <div class="form-group row">
      <label class="form-label" for="Q4"><u>Moisture</u></label>
      <br>
      <label for="lab_moisture" class="col-sm-5 col-form-label">Please key in the weight percentage of moisture (0-99 wt%)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control " name="lab_moisture" placeholder="wt%">
      </div>
    </div>

    
    <div class="form-group row">
      <label class="form-label" for="Q4"><u>Homogeneity</u></label>
      <br>
      <label for="lab_homogeneity" class="col-sm-5 col-form-label">Please key in the purity of waste (0-99 wt%)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control " name="lab_homogeneity" placeholder="wt%">
      </div>
    </div>

    <div class="form-group row">
      <label class="form-label" for="Q4"><u>Cellulosic content</u></label>
      <br>
      <label for="lab_cellulose" class="col-sm-5 col-form-label">Please key in the weight percentage of cellulose (0-99 wt%)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control "  name="lab_cellulose" placeholder="wt%">
      </div>
    </div>

    <div class="form-group row">
      <label class="form-label"><u>pH value</u></label>
      <br>
      <label class="col-sm-5 col-form-label">Please key in the pH of waste (1-14)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control " name="lab_pH" placeholder="">
      </div>
    </div>

  </div>



  <div class="collapse" id="approximation-manure">

    <div class="form-group">
      <label class="form-label" for="Q3"><u>Moisture</u></label>
      <br>
      <label class="form-label" for="Q3"> Select the best moisture content level for the animal manure: </label>
      <br>

      {% for key,(label, lb, ub) in manureref.moisture.items() %}
        <div class="form-check form-check-inline" >
          <input type="radio" class="form-check-input"name="approx_moisture" value="{{key}}" >
          <label class="form-check-label" for="approx_moisture">{{label}}</label>
        </div>
      {% endfor %}

    </div>
  

  <div class="form-group">
    <label class="form-label" for="Q2"><u>Homogeneity</u></label>
    <br>
    <label class="form-label" for="Q2"> Select the best homogeneity description for the manure: </label>
    <br>

    {% for key,(label, lb, ub) in manureref.homogeneity.items() %}
    <div class="form-check form-check-inline" >
      <input type="radio" class="form-check-input"name="approx_homogeneity" value="{{key}}" >
      <label class="form-check-label" for="approx_homogeneity">{{label}}</label>
    </div>
    {% endfor %}
</div>



</div>

{% endif %}


{% if materialId == "3" %}

  <!-- h2> Wood Waste </h2 -->

  <div class="form-group">
    <label class="form-label" for="Q1"><u>Type and Source</u></label>
    <br>
    <label class="form-label" for="Q1"> Select the type and source that the wood belongs to:</label>
    <br>

    {% for key, label in woodref.type.items() %}
    <div class="form-check form-check-inline" >
      <input type="radio" class="form-check-input" name="type" value="{{key}}">
      <label class="form-check-label" for="type">{{label}}</label>
    </div>
    {% endfor %}

</div>

  <div class="form-group">
    <label class="form-label" for="approx_size"><u>Size</u></label>
    <br>
    <label class="form-label" for="approx_size"> Select the best size/shape description for the wood: </label>
    <br>

    {% for key, label in woodref.size.items() %}
    <div class="form-check form-check-inline" >
      <input type="radio" class="form-check-input" name="approx_size" value="{{key}}" >
      <label class="form-check-label" for="approx_size">{{label}}</label>
    </div>
    {% endfor %}

  </div>

  <div class="form-group">
    <label class="form-label"><u>Impurities</u></label>
    <br>
    <label class="form-label">Does your waste contain indigestible/non-degradable materials such as sand and stones? </label>
    <br>
    <div class="form-check form-check-inline" >
      <input type="radio" class="form-check-input" name=impurities value = 1>
      <label class="form-check-label" for="impurities">Yes </label>
    </div>

    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" name="impurities" value = 0>
      <label class="form-check-label" for="impurities">No </label>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="Q5"><u>CHN and Contaminants </u></label>
    <br>
    <label class="form-label" for="Q5"> Has a lab analysis been carried out for the wood?</label>
    <br>
    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input"  name="lab_analysis" value="1"  data-toggle='collapse' data-target='#labAnalysis-wood' aria-expanded="false">
      <label class="form-check-label" for="lab_analysis">Yes</label>
    </div>

    <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="lab_analysis" value="0" data-toggle='collapse' data-target='#approximation-wood' aria-expanded="false">
        <label class="form-check-label" for="lab_analysis">No</label>
    </div>
  </div>

  
  <div class="collapse" id="labAnalysis-wood">
    <label class="form-label"><u>Chemical composition </u></label>

    <div class="form-group row">
      <label for="Q5" class="col-sm-5 col-form-label">Please key in C:H:N ratio<br>(weight % in dry basis)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="lab_chn" placeholder="C:H:N">
      </div>
    </div>


    <div class="form-group row">
      <label class="form-label" for="lab_moisture"><u>Moisture</u></label>
      <br>
      <label for="Q4Moisture" class="col-sm-5 col-form-label">Please key in the weight percentage of moisture (0-99 wt%)</label>
      <div class="col-sm-4">
        <input type="text" class="form-control " name="lab_moisture" placeholder="wt%">
      </div>
    </div>

  
  <div class="form-group row">
    <label class="form-label" for="lab_homogeneity"><u>Homogeneity</u></label>
    <br>
    <label for="lab_homogeneity" class="col-sm-5 col-form-label">Please key in the purity of waste (0-99 wt%)</label>
    <div class="col-sm-4">
      <input type="text" class="form-control "  name="lab_homogeneity" placeholder="wt%">
    </div>
  </div>

  <div class="form-group row">
    <label class="form-label" for="lab_cellulose"><u>Cellulosic content</u></label>
    <br>
    <label for="lab_cellulose" class="col-sm-5 col-form-label">Please key in the weight percentage of cellulose (0-99 wt%)</label>
    <div class="col-sm-4">
      <input type="text" class="form-control " name="lab_cellulose" placeholder="wt%">
    </div>
  </div>

</div>

<div class="collapse" id="approximation-wood">


  <div class="form-group">
    <label class="form-label" for="approx_moisture"><u>Moisture</u></label>
    <br>
    <label class="form-label" for="approx_moisture"> Select the best moisture content level for the wood: </label>
    <br>

    {% for key, (label,_,_) in woodref.moisture.items() %}
    <div class="form-check form-check-inline" >
      <input type="radio" class="form-check-input" name="approx_moisture" value="{{key}}">
      <label class="form-check-label" for="approx_moisture">{{label}}</label>
    </div>
    {% endfor %}

  </div>

  <div class="form-group">
    <label class="form-label" for="approx_homogeneity"><u>Homogeneity</u></label>
    <br>
    <label class="form-label" for="approx_homogeneity"> Select the best homogeneity description for the wood: </label>
    <br>

    {% for key, (label,_,_) in woodref.homogeneity.items() %}
    <div class="form-check form-check-inline" >
      <input type="radio" class="form-check-input" name="approx_homogeneity" value="{{key}}">
      <label class="form-check-label" for="approx_homogeneity">{{label}}</label>
    </div>
    {% endfor %}

  </div>
</div>

{% endif %}

<br>
<div class="form-group">
  <label for="file">Upload lab test results (Optional)</label>
  <input type="file" class="form-control-file" name="file" id="file">
</div>

<br>
<a class="btn btn-outline-secondary" href="{{ url_for('matching') }}" role="button" onclick="return confirm('Inputs will not be saved, are you sure you want to go back?');">Back</a>
<button type="submit" style="float: right;" class="btn btn-success" onclick="return confirm('Please verify your response before submitting');">Submit</button>

</form>


  <script>
    function onlyOne(checkbox,name) {
    var checkboxes = document.getElementsByName(name)
    checkboxes.forEach((item) => {
      if (item !== checkbox){
        item.checked = false;
        }
      })
    }
    
  
    $('a[data-toggle="tooltip"]').tooltip({
        animated: 'fade',
        placement: 'bottom',
        html: true
    });

    index = 1

    function addCode() {
        index += 1
        document.getElementById("addItembutton").insertAdjacentHTML("beforebegin",

            `
            <div class="row">
              <label class="col-form-label col-sm-1">${index})</label>
              <select class="form-control form-control-s col-sm-3" name="food_content_id_${index}">
                <option value="None">None</option>
                {% for item in samplefood %}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}
              </select>
              <div class="col-sm-2">
                <input type="number" class="form-control" name="food_content_wt_${index}" placeholder = 0>
              </div>
              <label class="col-sm-2 col-form-label">wt %</label>
            </div>
            <br>

            `            
            );
    }
  </script>

{% endblock content %}
